.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: hsl(60, 10%, 19%);
}

.calculator.dark {
    color: white;
}

.calculator-body {
    width: 450px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 480px) {
    .calculator-body {
        width: 95%;
    }
}

@media (max-width: 370px) {
    .calculator-body {
        width: 100%;
    }
}

.calculator-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.calculator-header-theme {
    cursor: pointer;
}

.calculator-header-theme:hover {
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

body {
    background: hsl(0, 0%, 90%);
}

body .dark {
    background: hsl(222, 26%, 31%);
}

.calculator-theme {
    display: flex;
    align-items: center;
}

.calculator-theme-text {
    margin-right: 0.5rem;
}

.calculator-screen {
    width: 100%;
    height: 5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 10px;
    background: hsl(0, 0%, 93%);
}


.calculator-screen.dark {
    /* color: white; */
    background: hsl(224, 36%, 15%);
}

.calculator-output {
    margin: 1rem;
    font-weight: bold;
    font-size: 2rem;
}